body {
  background-color: #f7f7f7;
 
}

.tareas {
  max-width: 600px;
  margin: 0 auto;
}

table {
  background: white;
}


#alerta > .alert {
  max-width: 540px;
  width: auto;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}




.navbar a{
    color:white;
   margin-top: 10px;
}
.navbar img{
margin: 10px;
}

